

.sales-main {
	.title{
		color: #000;
		font-size: 24px;
		padding:5px 10px;
	}
	.times{
		font-size: 12px;
		padding: 0 10px;
		color: #ababab;
		margin-bottom: 5px;
	}
	.product-content{
		padding: 0 10px;
		background-color: #f8f8f8;
	}
}