<div class="container">
	<table class="table table-condensed"> 
	  <thead><tr>
	    <th class='ex'>~~~</th>
	    <th class='ex' colspan='3'>ֱ！！！！</th>
	  </tr></thead>
	  <tbody>
	  <tr ng-repeat="user in users">
	    <td class='ex' >{{ user.direct_des }}</td>
	    <td colspan='2'>{{ user.direct_start_time }}</td>
	    <td>
	    	<div ng-click="submits(user.id)" class="bs-example">
			   <button type="button" class="btn btn-primary" bg-model="sub"
			      >收听
			   </button>
			</div>
	    </td>
	  </tr>
	  </tbody>
	</table>
</div>