<!DOCTYPE html>
<html ng-app='OrangeApp'>
<head>
  <title>订单支付</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0,user-scalable=no" />
  <meta http-equiv="Cache-Control" content="max-age=0" />
  <meta name="apple-touch-fullscreen" content="yes" />
  <meta name="Description" content="橙商" />
  <meta name="Keywords" content="橙商" />
  <meta name="renderer" content="webkit">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <!-- <link rel="stylesheet" type="text/css" href="css/index.css" /> -->
  <link rel="stylesheet" type="text/css" href="../app/build/OrangeMallApp.min.css" />
  <script type="text/javascript" src='../app/framework/jquery/jquery.js'></script>
  <style type="text/css">
  	.title p{
  		font-size:15px;
  	}
  	.red{
  		color: red!important;
  	}
	.pay-panel .income-list-items{
		padding:3px 15px;
	}
	.income-list-items span{
		font-size: 14px;
	}
	.income-list-items .right{
		width:50px;
		text-align: right;
	}
	.order-time .order-time-info{
		height: auto;
	}
	.order-time p>label{
		width: 70px;
		margin-right: 0
	}
  </style>
</head>
<body>
	<div class="base-header">
		<div>
			<!-- <i class='icon-back' return-history></i> -->
			<h1>订单支付</h1>
		</div>
	</div>
	<div class="orderinfo-main wrapper-main">
		<div class="shop-address">
			<div class="info clearfix" ng-if="AddressInfo">
				<span class="name">
					收货人：<{$one_order_detail.address.name}>
				</span>
				<span class="phone">
					<{$one_order_detail.address.phone}>
				</span>
			</div>
			<div class='address' ng-if="AddressInfo"><{$one_order_detail.address.province}><{$one_order_detail.address.city}><{$one_order_detail.address.district}><{$one_order_detail.address.detail}></div>
		</div>
		<div class='pay-panel'>
				<div class="title">
					<p>商品清单</p>
				</div>
				<{foreach from=$one_order_detail.products item=one_product}>
				<div class="income-list-items">
					<span class="income-items-name"><{$one_product.name}></span>
					<span class="right income-items-price">¥<{$one_product.price}></span>
					<span class="right income-items-number">×<{$one_product.productAmount}></span>
				</div>
				<{/foreach}>
			</div>
		<div class="order-time">
			<div class="order-time-info">
				<p>
					<label>订单状态：</label>
					<span class='red'><{$one_order_detail.status}></span>
				</p>
				<p>
					<label>下单时间：</label>
					<span><{$one_order_detail.createTime}></span>
				</p>
				<p>
					<label>订单单号：</label>
					<span><{$one_order_detail.code}></span>
				</p>
				<p>
					<label>运费：</label>
					<span><{$one_order_detail.freight}>元</span>
				</p>
				<p>
					<label>商品总计：</label>
					<span style='color: #ED6D00; font-weight: bold;'><{$one_order_detail.totalMoney}>元</span>
				</p>
				<p>
					<label>支付方式：</label>
					<span style='color: #00B100; font-weight: bold;'>微信在线支付</span>
				</p>
			</div>
			<div class="order-time-mark">
				<p>
					<label>收货备注：</label>
					<span><{$one_order_detail.buyerRemark}></span>
				</p>
			</div>
		</div>
	</div>
	<div class="bottom order-info-bottom">
		<a class="left btn btn-cancel" href="javascript:void(0);" onclick="cancelOrder()">取消订单</a>
		<a class="right btn btn-ok" href="javascript:void(0);" onclick="callpay()">去支付</a>
	</div>
	<div class="loading" id='loading'>
		<img  class="loading-img" src="../app/img/f110.png">
	</div>
	<script>
		jsapiParameter = null;
		$(function(){
			$.ajax({
		        type: "POST",
		        url: "../unit_wxpay/payOrder.php?a=ajax_jsapi_parameters",
		        timeout: 30000,
		        dataType: "json",
		        data: {
		            "openid":'<{$openid}>',
		            "oId":'<{$orderId}>'
		        },
		        async: false,
		        success: function (res) {
		        	if(res.appId != null || res.appId != '') {
		        		jsapiParameter = res;
		        		callpay();
		        	}else {
		        		alert(res.message);
		        	}
		        }
		    });
		});
		//调用微信JS api 支付
		function jsApiCall() {
			WeixinJSBridge.invoke('getBrandWCPayRequest',{
					"appId":jsapiParameter.appId,
					"timeStamp":jsapiParameter.timeStamp,
					"nonceStr":jsapiParameter.nonceStr,
					"package":jsapiParameter.package,
					"signType":jsapiParameter.signType,
					"paySign":jsapiParameter.paySign
				},
				function(res){
					$("#loading").hide();
					if(res.err_msg == 'get_brand_wcpay_request:cancel') {
						alert("您已经成功取消订单支付");
					} else if(res.err_msg == 'get_brand_wcpay_request:ok'){
						//alert("您已经成功支付改订单，可以去商城订单中查看");
						window.location.href = '../app/index.html#order/<{$openid}>/<{$fromId}>/';
					} else {
						alert("支付异常，提示："+res.err_msg);
					}
				}
			);
		}
		function callpay() {
			if (typeof WeixinJSBridge == "undefined"){
			    if( document.addEventListener ){
			        document.addEventListener('WeixinJSBridgeReady', jsApiCall, false);
			    }else if (document.attachEvent){
			        document.attachEvent('WeixinJSBridgeReady', jsApiCall); 
			        document.attachEvent('onWeixinJSBridgeReady', jsApiCall);
			    }
			}else{
				jsApiCall();
			}
		}
		
		function cancelOrder() {
			if(confirm("您确认要取消该订单吗？")) {
				$.ajax({
			        type: "GET",
			        url: "../controller/order.php?a=cancel_order&oid=<{$orderId}>",
			        timeout: 30000,
			        dataType: "json",
			        async: false,
			        success: function (res) {
			        	if(res.code == 0) {
			        		window.location.href = '../app/index.html#order/<{$openid}>/<{$fromId}>/';
			        	}else {
			        		alert(res.message);
			        	}
			        }
			    });
			}
		}
	</script>
</body>
</html>